[submodule "quickstart/public"]
	path = quickstart/public
	url = git@github.com:johannesprinz/johannesprinz.github.io.git
[submodule "quickstart/themes/m10c"]
	path = quickstart/themes/m10c
	url = https://github.com/vaga/hugo-theme-m10c.git
